#page-auth {
  display: flex;
  align-items: center;
  height: 100vh;
  background: #165207;
  flex-direction: column;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
}

#page-auth main {
  flex: 8;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-auth main .main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 320px;
  text-align: center;
}

#page-auth main .main-content > img {
  align-self: center;
  height: 6rem;
}

#page-auth main .main-content > p {
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}

#page-auth main .main-content .create-room {
  margin-top: 3rem;
  padding: 0.8rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  background: #fff;
  border: 0;
  border-radius: 8px;
  box-shadow: 3px 3px 5px #818186;
  color: #29292e;
  font-weight: 500;
  cursor: pointer;
  width: fit-content;
  align-self: center;

  transition: filter 0.2s;
}

#page-auth main .main-content .create-room:hover {
  filter: brightness(0.9);
}

#page-auth footer {
  color: #fff;
  padding: 1rem;
}

body {
  margin: 0;
}

/* landscape */
@media (max-width: 750px) {
}

/* portrait */
@media (max-width: 420px) {
  body,
  html {
    width: 100vw;
    overflow-x: hidden;
    height: 100%;
  }

  #page-auth main {
    padding: 0.5rem 3rem;
  }

  #page-auth main .main-content {
    max-width: 100%;
  }

  #page-auth main .main-content img {
    /* max-height: 65px; */
    max-width: 90vw;
  }
}
