* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

body {
  font-family: Poppins;
  background: #e1e1e1;
}

body > header {
  background: #165207;
  padding: 1rem 0 6rem;
  text-align: center;
  color: #dbdbdb;
}

header h1 {
  font-weight: 200;
}

main .container {
  margin: 0 auto;
  max-width: min(700px, 90vw);

  position: relative;
  top: -3rem;
}

main .container section h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #46526e;
}

main .container section.balance h2 {
  color: #fff;
}

.balance .card {
  background: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.45rem;
}

.balance .card header {
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.balance .card header h3 {
  font-size: 0.8rem;
  color: #696969;
}

.balance .card span {
  font-size: 1.5rem;
  font-weight: 500;
  color: #464646;
}

.balance .card.total header h3 {
  color: #ffffffde;
}

.balance .card.total {
  background: #0aa70a;
  color: #fff;
}

.balance .card.total span {
  color: #fff;
}

.transactions {
  margin-top: 2rem;
  overflow-x: auto;
}

.transactions a {
  text-decoration: none;
  color: #04c404;
  font-weight: 500;

  transition: filter 0.2s;
}

.transactions a:hover {
  filter: brightness(0.9);
}

.transactions table {
  width: 100%;
  border-spacing: 0 8px;
  margin-top: 1rem;
}

.transactions table tr {
  background: #fff;
  opacity: 0.7;
}

.transactions table tbody tr:hover {
  opacity: 1;
}

.transactions table td,
.transactions table th {
  text-align: left;
  padding: 0.8rem 1.5rem;
}

.transactions table td.actions img {
  cursor: pointer;
  transition: filter 0.2s;
}

.transactions table td.actions img:hover {
  filter: brightness(0.85);
}

.transactions table th:first-child,
.transactions table td:first-child {
  border-radius: 0.3rem 0 0 0.3rem;
}

.transactions table th:last-child,
.transactions table td:last-child {
  border-radius: 0 0.3rem 0.3rem 0;
}

.transactions table tr td.income {
  color: green;
}

.transactions table tr td.expense {
  color: red;
}

.transactions table tr td.income,
td.expense {
  white-space: nowrap;
}

.modal-overlay {
  display: none;
}

.modal-overlay.active {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: #e1e1e1;
  padding: 2rem;
  border-radius: 0.5rem;

  width: 90%;
  max-width: 600px;
}

.modal h2 {
  color: #464646;
}

.modal .input-group {
  margin-top: 1rem;
}

.modal .input-group label {
  opacity: 0.8;
  font-size: 0.875rem;
}

.modal .input-group input,
select {
  border: 0;
  border-radius: 0.25rem;
  width: 100%;
  padding: 1rem;
}

.modal .input-group input:focus {
  box-shadow: 0 0 8px #acacac;
  outline: none;
}

.modal .input-group small {
  opacity: 0.75;
}

.modal .buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.modal .buttons .button {
  width: 48%;
  border-radius: 0.25rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Poppins;
  font-size: 1rem;

  transition: filter 0.2s;
}

.modal .buttons .button.cancel {
  color: #b64747;
  text-decoration: none;
  border: 2px solid #b92727;
}

.modal .buttons .button.submit {
  border: 0;
  background: #0aa70a;
  color: #fff;
}

.modal .buttons .button:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.modal .buttons .button.cancel:hover {
  filter: brightness(0.8);
}

footer {
  text-align: center;
  padding: 1rem;
  opacity: 0.5;
}

.avatar {
  width: 50px;
  height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  flex-direction: column;

  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.2s;
}

.avatar img:hover {
  filter: brightness(0.7);
}

.avatar .avatar-info {
  position: absolute;
  background: #fff;
  bottom: 0;
  right: 0;
  transform: translateY(110%);
  width: fit-content;
  z-index: 99;
  border-radius: 5px;
  padding: 0.5rem;
  color: #464646;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

.avatar .avatar-info span {
  display: flex;
  width: max-content;
}

.avatar .avatar-info span.name {
  font-weight: 700;
}

.avatar .avatar-info span.email {
  font-size: 0.875rem;
}

.avatar .logout-link {
  font-size: 0.875rem;
  margin-top: 1rem;
  align-self: flex-end;
  color: #1492e6;
  cursor: pointer;
}

.avatar .logout-link:hover {
  text-decoration: underline;
  color: #0669ac;
}

.avatar .avatar-info.active {
  visibility: visible;
}

@media (min-width: 768px) {
  .balance {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
